<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WordCrushGame">
        <activity
            android:name=".SpecialManager"
            android:exported="false" />
        <activity
            android:name=".Cell"
            android:exported="false" />
        <activity
            android:name=".GameResultActivity"
            android:exported="false" /> <!-- 🚀 BAŞLANGIÇ -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 🏠 ANA MENÜ -->
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- 🎮 OYUN -->
        <activity
            android:name=".GridSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".MoveSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".GameActivity"
            android:exported="false" /> <!-- 🛒 MARKET -->
        <activity
            android:name=".MarketActivity"
            android:exported="false" /> <!-- 📊 SKOR -->
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
    </application>

</manifest>